*{
    padding: 0;
    margin: 0;
}

.container-checkout{
    height: 100%;
    width: 100%;
    

    .wrapper-checkout{
        height: 90%;
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
        // background-color: aquamarine;
        display: flex;
        flex-direction: row;

        .check-left{
            font-size: 22px;
            height: 100%;
            width: 60%;
            // background-color: rgba(153, 250, 229, 0.544);
            padding: 2%;
            display: flex;
            flex-direction: column;
            // align-items: center;

        }

        .check-right{
            height: 715px;
            width: 40%;
            // overflow: auto;
            // background-color: aquamarine;
            padding: 1%;

            .list-product{
                height: 580px;
                width: 100%;
                overflow: auto;
                border: 1px solid;
                padding: 2% 2%;
                
                .product-check{
                    height: 25%;
                    width: 100%;
                    margin-bottom: 10px;
                    display: flex;
                    flex-direction: row;
                    img{
                        height: 100%;
                        width: 40%;
                    }

                    .message-product{
                        height: 100%;
                        width: 60%;
                        padding-left: 3%;
                        padding-right: 3%;

                        .title-product{
                            height: 30%;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                        
                            input{
                                height: 70%;
                                width: 45%;
                                border: none;
                                // margin-bottom: 15%;
                                transform: translateY(-1px);
                                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
                            
                                &:focus{
                                    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
                                }
                            }
                        }
                    }
                }
            }


            .total-price{
                height: 135px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .title-price{
                    height: 30%;
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
            }
        }
    }
}