* {
    padding: 0;
    margin: 0;
}

.contaier-login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #A1FFCE;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FAFFD1, #A1FFCE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    .main-login-admin{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        height: 80%;
        width: 60%;
        margin: 0 auto;
        padding-top: 5%;
        // background-color: #A1FFCE;

        .left-login{
            height: 100%;
            width: 60%;
            display: flex;
            align-items: center;
            transform: translate(55%,10%);

            .control{
                padding: 10px 10px;
                input{
                    border-radius: 10px;
                    outline: none;
                    transition: all 1s;
                    border-color: rgba(84, 84, 84, 0.386);

                    &:focus{
                        background-color: #6dfdb33f;
                    }
                }
            }

            .btn-login-admin{
                margin-top: 20px;

                .btn-login{
                    border-radius: 10px;
                    width: 100px;
                    margin-left: 100px;
                    border-color: rgb(85, 255, 184);
                }
            }
        }

        .right-login{
            height: 100%;
            width: 40%;
            display: flex;
            align-items: center;

            img{
                height: 25%;
                width: 40%;
                transform: translate(-40%,-70%);
            }
        }
    }

}